._.DS_Store
	._ANAMergedTrainFeatures.csv
	._NaiveBayes.py
	.gitignore.swp
	TrialData/._.DS_Store
	TrialData/._AllRecid.csv
	TrialData/._HalfMen.csv
	TrialData/._HalfNHalf.csv
	TrialData/._OnlyMenRecid copy.csv
	TrialData/._OnlyMenRecid.csv
	TrialData/._QuarterAll.csv
	TrialData/._ZeroRecid.csv
